<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Using variables</title>
</head>
<body>
<h1>home</h1>
<form action="tweets/new" method="post">
  <input type="text" name="tweet" size="140">
  <input type="submit" value="ツイート">
</form>
</body>
</html>